version: "3.9"

services:
  mysql:
    image: mysql:8.3
    container_name: mysql83
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: testdb
      MYSQL_USER: testuser
      MYSQL_PASSWORD: testpass
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
